:root {
    --teal: rgba(1,168,158,255);
    --black: rgb(0, 0, 0);


}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    color: teal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer {
    background: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

header {
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url(../images/keyboard.jpg.);
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
}

header h1 {
    font-weight: bolder;
    font-size: 50px;
    color: black;
    margin: 0;
    display: inline;
}

header a {
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

header nav {
   margin: 5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight:bold;
    font-size: 25px;
}

.hero {
    background-image: url(../images/keyboard.jpg);
    background-size:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 470px;
}

.hero img {
    height: 854.5px;
    position: relative;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.hero-cta {
    text-align: right;
    color: black;
    font-size: 20px;
    list-style: none;
    background: rgba(1,168,158,255);
    position: sticky;
}

.hero-cta h3 {
    color: black;
}


.intro {
    text-align: left;
    line-height: 1.4;
    background: black;
    padding: 25px 65px 50px 0;
    display: inline-block;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
}

.intro h3 {
    font-weight: bold;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
}

.intro p {
    color: teal;
    font-size: 25px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: right;
}

.work {
    text-align: left;
    background: black;
    padding: 25px -50px 25px 10px;
    display: inline-block;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.work h3 {
    color: teal;
    font-weight: bold;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
}

.work p {
    color: teal;
    font-size: 25px;
    margin: auto;
    display: inline-block;
    flex-wrap: wrap;
    display: flex;
    justify-content: right;
}

.contact {
    text-align: left;
    background: black;
    padding: 25px 20px 25px 10px;
    display: inline-block;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.contact h3 {
    color: teal;
    font-weight: bold;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.contact p {
    color: teal;
    font-size: 25px;
    margin: auto;
    display: inline-block;
    position: left;
}

.line {
    border: 2px solid;
    display: inline-block;
    color: teal;
}
